html { 
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:target { 
    scroll-margin-top: 3em; 
}

body{
    background-color: $primary-color;
    overflow-x: hidden;
    color: $primary-color-text;
    font-family: sans-serif;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    font-weight: 700;
    font-size: 52px;
    line-height: 66px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.btn{
    
}

.branch{
    position: absolute;
    border-radius: 28px;
    font-size: 24px;
    line-height: 30px;
    padding: 16px 40px 18px;
    margin: 5px 20px 5px 0;
    border: 1px solid #433F49;
    transition: .3s;
    color: $primary-color-text;
    padding-right: 80px; //40 + 40
}
.branch:hover{
    border: 1px solid $primary-color-outline;
}

.border-gradient{
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 22px 36px 26px;
        margin-bottom: 120px;
}
.border-gradient::before{
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 38px;
        padding: 2px;
        background: linear-gradient(45deg, red, blue);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
}

.grey-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $primary-color-grey-text;
}