// colors
$primary-color: #191a1f;
$primary-color-text: #fff;
$primary-color-grey-text: #97959B;
$primary-color-outline: #E8B24F;
$primary-color-text-header-1: #606168;
$primary-color-text-header-2: #7E8088;
$primary-color-text-header-3: #ADAFB9;
$primary-color-footer: #fff;
$primary-color-hover: radial-gradient(125.37% 118.99% at 78.36% -10%, #EB5323 0%, #811C5E 74.96%, #300947 100%);


