@import 'vars';
@import 'fonts';
@import 'global';

.header{
    margin-top: 40px;
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        display: flex;
        align-items: center;
        &-list{
            display: flex;
            justify-content: space-between;
            padding-right: 60px;
        }
        &-item{
            line-height: 18px;
            padding-right: 20px;
        }
        &-item:last-child{
            padding-right: 0px;
        }
        &-link{
            color: $primary-color-text-header-1;
            transition: .3s;
            white-space: nowrap;
        }
        &-link:hover{
            color: $primary-color-text-header-2;
        }
        &-button{
            width: 75px;
            height: 35px;
            background: rgba(126, 128, 136, 0.2);
            border-radius: 10px;
            color: #ADAFB9;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            transition: .3s;
        }
        &-button:hover{
            background: linear-gradient(0deg, #FFC266, #FFC266), #FFFFFF;
            color: #000;
        }
        &-language{
            color: $primary-color-text-header-3;
            text-decoration: underline;
            transition: .3s;
        }
        &-language:hover{
            color: $primary-color-text-header-1;
        }
    }
    &__menu-mobile{
        display: none;
    }
    &__logo-link{
        display: flex;
        align-items: center;
    }
    &__logo-text{
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        color: $primary-color-text;
        font-family: 'Euclid Square Bold';
        padding-left: 10px;
    }
}

.header-content{
    padding-top: 140px;
    background: url('../images/header-bg.png') no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center 30%;
    margin-bottom: 150px;
    &__title{
        font-weight: 700;
        font-size: 108px;
        line-height: 118px;
        letter-spacing: 0.06em;
        text-align: right;
    }
    &__title:nth-child(2){
        padding-right: 111px;
    }
    &__inner{
        display: flex;
    }
    &__card{
        padding: 32px;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        max-width: 417px;
        height: 182px;
        margin: 19px 0 0 15px;
        &-title{
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            margin-bottom: 8px;
            color: #FFC266;
        }
        &-text{
            font-size: 24px;
            line-height: 30px;
        }
    }
    &__button{
        color: $primary-color-text;
        width: 225px;
        height: 58px;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(94.17deg, #E8C24F -53.08%, #DD475E 118.19%), radial-gradient(105.03% 92.27% at 97.99% 8.62%, #EB5323 0%, #811C5E 80.59%, #300947 100%);
        box-shadow: inset -3px -3px 17px rgba(0, 0, 0, 0.25), inset 8px 2px 11px rgba(255, 255, 255, 0.16), inset -14.5651px 0px 18.2064px rgba(245, 178, 60, 0.2), inset 3px -3px 17px rgba(193, 62, 54, 0.45);
        border-radius: 20px;
        margin: 38px 0 0 380px;
        margin-bottom: 100px;
        transition: 3s;
    }
    &__button:hover{
        background: linear-gradient(94.17deg, #e4dbc1 -53.08%, #DD475E 118.19%), radial-gradient(100.03% 92.27% at 97.99% 8.62%, #bd3005 0%, #cc4ea0 80.59%, #300947 100%);
    }
    &__info{
        display: flex;
        align-items: center;
        &-text{
            font-size: 28px;
            line-height: 36px;
            padding-left: 24px;
            max-width: 530px;
        }
    }
}
.difference{
    &__title{

    }
    //
    &__wrapper{
        
    }
    &__wrapper-names{
        
    }
    &__names{
        
    }
    //
    &__items{
        
    }
    &__points{
        
    }
    &__point{
        
    }
    //
    &__cards{
        
    }
    &__card{
        
    }
    &__benefit{
        
    }
}
.features{
    &__title{
        text-align: center;
    }
    .swiper-bottom{
        margin-bottom: 140px;
    }
    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
                transition-timing-function: linear !important;
      } 
    .swiper-slide{        
        border: 1px solid #433F49;
        border-radius: 20px;
        height: 96px;
        width: auto !important;
        font-size: 24px;
        line-height: 30px;
        padding: 33px 20px;
        white-space: nowrap;
        margin: 5px 20px 5px 0;
        transition: .3s;
    }

    .swiper-slide:hover{
        border: 1px solid $primary-color-outline;
        border-radius: 20px;
    }
}
.advantages{
    position: relative;
    &__bg{
        position: absolute;
        top: -43px;
        right: -242px;
    }
    &__title{
    }
    &__subtitle{
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 100px;
    }
    &__tree{
        position: relative;
        &-branch-btn{
            top: 303px; 
            left: 1016px;
        }
        &-branch-btn span::before{
            content: '';
            position: absolute;
            top: 21px;
            right: 36px;
            width: 30px;
            height: 30px;
            transform: rotate(90deg);
            background: url('../images/arrow→.svg') no-repeat; 
        }
        &-branch-btn:hover{
            border: 1px solid $primary-color-outline;
        }
        &-branch{
            border: 1px solid $primary-color-outline; //ПЕРЕКРЫВАЕТ ДРУГОЙ ЦВЕТ
            white-space: nowrap;
            display: inline-block;
        }
        &-branch:first-child{
            top: 249px;
            left: 118px;
        }
        &-branch:nth-child(2){
            top: -71px;
            left: 295px;
        }
        &-branch:nth-child(3){
            top: -8px;
            left: 601px;
        }
        &-branch:nth-child(4){
            top: 148px;
            left: 793px;
        }
        &-img{
            display: flex;
            justify-content: center;
            padding-left: 50px;
        }
        &-img img{
            max-width: 837px;
            width: 100%;
        }
    }
    &__info{
        &-text{
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            max-width: 600px;
        }
        &-text span{
            color: $primary-color-outline;
        }
        &-text::before{
            content: '';
            position: absolute;
            top: 54px;
            left: 661px;
            width: 30px;
            height: 30px;
            background: url('../images/arrow→.svg') no-repeat;
        }
        &-coins{
            max-width: 600px;
            font-size: 20px;
            line-height: 150%;
            color: $primary-color-grey-text;
        }
    }
}
.hedging{
    margin-bottom: 120px;
    &__title{
        margin-bottom: 70px; //40+30
    }
    &__tree{
        position: relative;
        &-inner{
            display: flex;
            justify-content: end;
            width: 100%;
            margin-bottom: 60px;
        }
        &-branch{
            cursor: pointer;
        }
        &-branch span::before{
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            top: 16.5px;
            left: 25px;
        }
        &-branch:first-child{
            top: -33px;
            left: -195px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:first-child span::before{
            background: url('../images/ethereum.svg') no-repeat;
        }
        &-branch:nth-child(2){
            top: 35px;
            left: 88px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:nth-child(2) span::before{
            background: url('../images/bnb.svg') no-repeat;
        }
        &-branch:nth-child(3){
            top: 119px;
            left: -96px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:nth-child(3) span::before{
            background: url('../images/doge.svg') no-repeat;
        }
        &-branch:nth-child(4){
            top: 218px;
            left: -161px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:nth-child(4) span::before{
            background: url('../images/bitcoin.svg') no-repeat; //позиция отлечается от остальных иконок
            top: 18.5px;
            left: 30px;
        }
        &-branch:nth-child(5){
            top: 303px;
            left: 111px;
            padding: 16px 30px 18px 40px;
        }
        &-info{
            margin-top: 20px;
            &-inner{
            }
            max-width: 505px;
            margin-bottom: 8px;
        }
        &-info-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 41px;
            display: flex;
            align-items: center;
            padding-right: 75px;
        }
        &-info-title::before{
            content: '';
            position: absolute;
            top: 128px;
            left: 270px;
            width: 30px;
            height: 30px;
            background: url('../images/arrow→.svg') no-repeat;
        }
        &-info-coins{}
        &-info-coin{
            cursor: pointer;
            padding: 16px 30px 18px 60px;
            position: relative;
            margin-bottom: 8px;
        }
        &-info-coin::before{                                    //первая монета
            content: '';
            position: absolute;
            top: 17px;
            left: 28px;
            width: 28px;
            height: 28px;
            background: url('../images/usdt.svg') no-repeat;
        }
        &-info-coin:nth-child(2)::before{                       //вторая монета
            background: url('../images/busd.svg') no-repeat;
        }
        &-info-coin:nth-child(3)::before{                       //третья монета
            background: url('../images/usdc.svg') no-repeat;
        }

    }
    &__text{
        max-width: 505px;
    }
    &__items{
        display: flex;
        position: relative;
    }
    &__item{
        margin-bottom: 0;
    }
    &__item-text{
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        max-width: 505px;
        margin-right: 20px;

    }
    &__item-text b{
        color: $primary-color-outline;
    }
    &__item-title::before{
        content: '';
        position: absolute;
        top: 64px;
        left: 202px;
        width: 30px;
        height: 30px;
        background: url('../images/arrow→.svg') no-repeat;
    }
    &__item-title{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        padding-right: 75px;
    }
    &__item-coins{
        display: flex;
        align-items: center;
    }
}
.wallets{
    &__title{
    }
    &__items{
        display: inline-flex;
        flex-wrap: wrap;
        column-gap: 104px;
        
    }
    &__item{
        &-inner{
            width: 140px;
            text-align: center;
            margin-bottom: 30px;
        }
        width: 140px;
        height: 140px;
        border: 1px solid #433F49;
        border-radius: 56px;      
        align-items: center;
        display: flex;
        transition: .3s;
    }
    &__item:hover{
        border: 1px solid $primary-color-outline;
    }
    &__item img{
        margin-left: auto; //
        margin-right: auto;//           центр по ширине
        display: flex;     //
    }
    &__name{
        font-size: 20px;
        line-height: 25px;
        margin-top: 12px;
        max-width: 140px;
        overflow: hidden; /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis; /* Добавляем многоточие */
    }
    &__info{
        position: relative;
    }
    &__info{

    }
    &__info-connect{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
    }
    &__info-text{
        max-width: 1056px;
        font-size: 20px;
        line-height: 130%;
        color: $primary-color-grey-text;
    }
    &__info-text::before{
        content: '';
        position: absolute;
        top: 54px;
        left: 203px;
        width: 30px;
        height: 30px;
        background: url('../images/arrow→.svg') no-repeat;
    }
}
.footer{
    background-color: #fff;
    color: $primary-color;
    padding: 70px 0;
    &__title{
    }
    &__info{
        display: flex;
        justify-content: space-between;
        &-text{
            margin-bottom: 100px;
            font-size: 20px;
            line-height: 120%;
            max-width: 652px;
        }
        &-social{
            &-title{
                margin-bottom: 10px;
                font-size: 24px;
                line-height: 30px;
            }
            &-items{

            }
            &-img{
                padding-right: 24px;
            }
            &-img:last-child{
                padding-right: 0;
            }
        }
    }
    &__form{
        &-inner{
            display: flex;
            flex-direction: column;
        }
        &-name,
        &-phone,
        &-email{
            width: 466px;
            height: 58px;
            border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.1);
            display: flex;
        }
        input{
            width: 100%;
            font-size: 20px;
            line-height: 25px;
        }
        &-btn{
            color: $primary-color-text;
            width: 225px;
            height: 58px;
            font-size: 24px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(94.17deg, #E8C24F -53.08%, #DD475E 118.19%), radial-gradient(105.03% 92.27% at 97.99% 8.62%, #EB5323 0%, #811C5E 80.59%, #300947 100%);
            box-shadow: inset -3px -3px 17px rgba(0, 0, 0, 0.25), inset 8px 2px 11px rgba(255, 255, 255, 0.16), inset -14.5651px 0px 18.2064px rgba(245, 178, 60, 0.2), inset 3px -3px 17px rgba(193, 62, 54, 0.45);
            border-radius: 20px;
            transition: 3s;
            margin-top: 30px;
        }
        &-btn:hover{
            background: linear-gradient(94.17deg, #e4dbc1 -53.08%, #DD475E 118.19%), radial-gradient(100.03% 92.27% at 97.99% 8.62%, #bd3005 0%, #cc4ea0 80.59%, #300947 100%);
        }
    }
}