@import 'vars';
@import 'fonts';
@import 'global';

.header{
    margin-top: 40px;
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        display: flex;
        align-items: center;
        &-list{
            display: flex;
            justify-content: space-between;
            padding-right: 60px;
        }
        &-item{
            line-height: 18px;
            padding-right: 20px;
        }
        &-item:last-child{
            padding-right: 0px;
        }
        &-link{
            color: $primary-color-text-header-1;
            transition: .3s;
            white-space: nowrap;
        }
        &-link:hover{
            color: $primary-color-text-header-2;
        }
        &-button{
            width: 75px;
            height: 35px;
            background: rgba(126, 128, 136, 0.2);
            border-radius: 10px;
            color: #ADAFB9;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            transition: .3s;
        }
        &-button:hover{
            background: linear-gradient(0deg, #FFC266, #FFC266), #FFFFFF;
            color: #000;
        }
        &-language{
            color: $primary-color-text-header-3;
            text-decoration: underline;
            transition: .3s;
        }
        &-language:hover{
            color: $primary-color-text-header-1;
        }
    }
    &__menu-mobile{
        display: none;
    }
    &__logo-link{
        display: flex;
        align-items: center;
    }
    &__logo-text{
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        color: $primary-color-text;
        font-family: 'Euclid Square Bold';
        padding-left: 10px;
    }
}

.header-content{
    padding-top: 140px;
    background: url('../images/header-bg.png') no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center 30%;
    margin-bottom: 150px;
    &__title{
        font-weight: 700;
        font-size: 108px;
        line-height: 118px;
        letter-spacing: 0.06em;
        text-align: right;
    }
    &__title:nth-child(2){
        padding-right: 111px;
    }
    &__inner{
        display: flex;
    }
    &__card{
        padding: 32px;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        max-width: 417px;
        margin: 19px 0 0 15px;
        &-title{
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            margin-bottom: 8px;
            color: #FFC266;
        }
        &-text{
            font-size: 24px;
            line-height: 30px;
        }
    }
    &__button{
        color: $primary-color-text;
        width: 225px;
        height: 58px;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(94.17deg, #E8C24F -53.08%, #DD475E 118.19%), radial-gradient(105.03% 92.27% at 97.99% 8.62%, #EB5323 0%, #811C5E 80.59%, #300947 100%);
        box-shadow: inset -3px -3px 17px rgba(0, 0, 0, 0.25), inset 8px 2px 11px rgba(255, 255, 255, 0.16), inset -14.5651px 0px 18.2064px rgba(245, 178, 60, 0.2), inset 3px -3px 17px rgba(193, 62, 54, 0.45);
        border-radius: 20px;
        margin: 38px 0 0 380px;
        margin-bottom: 100px;
        transition: 3s;
    }
    &__button:hover{
        background: linear-gradient(94.17deg, #e4dbc1 -53.08%, #DD475E 118.19%), radial-gradient(100.03% 92.27% at 97.99% 8.62%, #bd3005 0%, #cc4ea0 80.59%, #300947 100%);
    }
    &__info{
        display: flex;
        align-items: center;
        &-text{
            font-size: 28px;
            line-height: 36px;
            padding-left: 24px;
            max-width: 530px;
        }
    }
}
.difference{
    margin-bottom: 110px;
    position: relative;
    scroll-behavior: smooth;
    &__title{
        text-transform:none;
    }
    //
    &__wrapper{
    }
    &__wrapper-hidden{
        height: 500px;
        overflow: hidden;
    }
    &__wrapper-hidden::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        opacity: .8;
        background-color: $primary-color;
    }
    &__wrapper-names{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        background: #262429;
        justify-content: end;
        margin-bottom: 25px;
    }
    &__name{
        padding-right: 100px;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.06em;
    }
    &__name:last-child{
        padding-right: 63px;
    }
    //
    &__items{
        display: flex;
        flex-direction: column;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__point{
        display: flex;
        align-items: center;
        padding: 50px;
        max-width: 300px;
        height: 150px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.06em;
    }
    //
    &__cards{
        min-width: 883px;
    }
    &__card{
        display: flex;
        justify-content: space-between;
        border: 1px solid #433F49;
        border-radius: 20px;
        width: 883px;
    }
    &__card:last-child{
        margin-bottom: 0;
    }
    &__benefit{
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 23px;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.06em;
        max-width: 280px;
        min-width: 280px;
        min-height: 80px;
        padding: 35px 20px 35px 20px;
    }
    &__open-btn{
        display: none;
    }
    &__btn{
        display: block;
        bottom: -57px;
        right: 579px;
    }
    &__btn::before{
        content: '';
        position: absolute;
        top: 21px;
        right: 36px;
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
        background: url('../images/arrow→.svg') no-repeat; 
    }
    .first-column{
        color: $primary-color-outline;
    }
}
.features{
    &__title{
        text-align: center;
    }
    .swiper-bottom{
        margin-bottom: 140px;
    }
    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
                transition-timing-function: linear !important;
      } 
    .swiper-slide{        
        border: 1px solid #433F49;
        border-radius: 20px;
        height: 96px;
        width: auto !important;
        font-size: 24px;
        line-height: 30px;
        padding: 33px 20px;
        white-space: nowrap;
        margin: 5px 20px 5px 0;
        transition: .3s;
    }

    .swiper-slide:hover{
        border: 1px solid $primary-color-outline;
        border-radius: 20px;
    }
}
.advantages{
    position: relative;
    &__bg{
        position: absolute;
        top: -43px;
        right: -242px;
        z-index: -1;
    }
    &__title{
    }
    &__subtitle{
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 100px;
    }
    &__tree{
        position: relative;
        &-branch-btn{
            top: 303px; 
            left: 1016px;
            white-space: nowrap;
        }
        &-branch-btn span::before{
            content: '';
            position: absolute;
            top: 21px;
            right: 36px;
            width: 30px;
            height: 30px;
            transform: rotate(90deg);
            background: url('../images/arrow→.svg') no-repeat; 
        }
        &-branch-btn:hover{
            border: 1px solid $primary-color-outline;
            cursor: pointer;
        }
        &-branch{
            border: 1px solid $primary-color-outline; //ПЕРЕКРЫВАЕТ ДРУГОЙ ЦВЕТ
            white-space: nowrap;
            display: inline-block;
            padding-right: 40px;
        }
        &-branch:first-child{
            top: 249px;
            left: 118px;
        }
        &-branch:nth-child(2){
            top: -71px;
            left: 295px;
        }
        &-branch:nth-child(3){
            top: -8px;
            left: 601px;
        }
        &-branch:nth-child(4){
            top: 148px;
            left: 793px;
        }
        &-img{
            display: flex;
            justify-content: center;
            padding-left: 50px;
        }
        &-img img{
            max-width: 837px;
            width: 100%;
        }
    }
    &__info{
        flex-wrap: wrap;
        &-text{
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            max-width: 600px;
        }
        &-text span{
            color: $primary-color-outline;
        }
        &-text::before{
            content: '';
            position: absolute;
            top: 54px;
            left: 661px;
            width: 30px;
            height: 30px;
            background: url('../images/arrow→.svg') no-repeat;
        }
        &-coins{
            max-width: 600px;
            font-size: 20px;
            line-height: 150%;
            color: $primary-color-grey-text;
        }
        &-list{
            overflow-x: hidden;
            max-height: 0;
            transition: .1s;
            margin-top: -100px;
            list-style-position: inside;
            color: $primary-color-outline;
        }
        &-list span{
            color: $primary-color-text;
        }
        &-list_active{
            max-height: 100%;
            margin-top: 40px;
            overflow-x:visible;
        }
        &-list-item{
            margin-bottom: 24px;
            font-size: 22px;
            line-height: 150%;
        }
        &-list-item:last-child{
            margin-bottom: 0px;
        }

    }
}
.hedging{
    margin-bottom: 120px;
    &__title{
        margin-bottom: 70px; //40+30
        text-transform: none;
    }
    &__tree{
        position: relative;
        &-inner{
            display: flex;
            justify-content: end;
            width: 100%;
            margin-bottom: 60px;
        }
        &-branch{
            cursor: pointer;
        }
        &-branch span::before{
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            top: 16.5px;
            left: 25px;
        }
        &-branch:first-child{
            top: -33px;
            left: -195px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:first-child span::before{
            background: url('../images/ethereum.svg') no-repeat;
        }
        &-branch:nth-child(2){
            top: 35px;
            left: 88px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:nth-child(2) span::before{
            background: url('../images/bnb.svg') no-repeat;
        }
        &-branch:nth-child(3){
            top: 119px;
            left: -96px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:nth-child(3) span::before{
            background: url('../images/doge.svg') no-repeat;
        }
        &-branch:nth-child(4){
            top: 218px;
            left: -161px;
            padding: 16px 30px 18px 60px;
        }
        &-branch:nth-child(4) span::before{
            background: url('../images/bitcoin.svg') no-repeat; //позиция отлечается от остальных иконок
            top: 18.5px;
            left: 30px;
        }
        &-branch:nth-child(5){
            top: 303px;
            left: 111px;
            padding: 16px 30px 18px 40px;
        }
        &-info{
            margin-top: 20px;
            &-inner{
            }
            max-width: 505px;
            margin-bottom: 8px;
        }
        &-info-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 41px;
            display: flex;
            align-items: center;
            padding-right: 75px;
        }
        &-info-title::before{
            content: '';
            position: absolute;
            top: 128px;
            left: 270px;
            width: 30px;
            height: 30px;
            background: url('../images/arrow→.svg') no-repeat;
        }
        &-info-coins{}
        &-info-coin{
            cursor: pointer;
            padding: 16px 30px 18px 60px;
            position: relative;
            margin-bottom: 8px;
        }
        &-info-coin::before{                                    //первая монета
            content: '';
            position: absolute;
            top: 17px;
            left: 28px;
            width: 28px;
            height: 28px;
            background: url('../images/usdt.svg') no-repeat;
        }
        &-info-coin:nth-child(2)::before{                       //вторая монета
            background: url('../images/busd.svg') no-repeat;
        }
        &-info-coin:nth-child(3)::before{                       //третья монета
            background: url('../images/usdc.svg') no-repeat;
        }

    }
    &__text{
        max-width: 505px;
    }
    &__items{
        display: flex;
        position: relative;
    }
    &__item{
        margin-bottom: 0;
    }
    &__item-text{
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        max-width: 505px;
        margin-right: 20px;

    }
    &__item-text b{
        color: $primary-color-outline;
    }
    &__item-title::before{
        content: '';
        position: absolute;
        top: 64px;
        left: 202px;
        width: 30px;
        height: 30px;
        background: url('../images/arrow→.svg') no-repeat;
    }
    &__item-title{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        padding-right: 75px;
    }
    &__item-coins{
        display: flex;
        align-items: center;
    }
}
.wallets{
    &__title{
        text-transform: none;
    }
    &__items{
        display: inline-flex;
        flex-wrap: wrap;
        column-gap: 104px;
        
    }
    &__item{
        &-inner{
            width: 140px;
            text-align: center;
            margin-bottom: 30px;
        }
        width: 140px;
        height: 140px;
        border: 1px solid #433F49;
        border-radius: 56px;      
        align-items: center;
        display: flex;
        transition: .3s;
    }
    &__item:hover{
        border: 1px solid $primary-color-outline;
    }
    &__item img{
        margin-left: auto; //
        margin-right: auto;//           центр по ширине
        display: flex;     //
    }
    &__name{
        font-size: 20px;
        line-height: 25px;
        margin-top: 12px;
        max-width: 140px;
        overflow: hidden; /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis; /* Добавляем многоточие */
    }
    &__info{
        position: relative;
    }
    &__info{

    }
    &__info-connect{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
    }
    &__info-text{
        max-width: 1056px;
        font-size: 20px;
        line-height: 130%;
        color: $primary-color-grey-text;
    }
    &__info-text::before{
        content: '';
        position: absolute;
        top: 54px;
        left: 203px;
        width: 30px;
        height: 30px;
        background: url('../images/arrow→.svg') no-repeat;
    }
}
.assurance{
    margin-bottom: 160px;
    &__title{
        text-transform: none;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        &-info{
            margin-right: 24px;
            max-width: 750px;
        }
        &-text{
            margin-bottom: 24px;
        }
        &-list{
            list-style-position: inside;
            margin-bottom: 25px;
        }
        &-list-item{
            font-size: 20px;
            line-height: 130%;
            margin-bottom: 24px;
        }
        &-btn{
            position: relative;
            display: inline-block;
            margin-bottom: 50px;
            cursor: pointer;
        }
        &-btn span::before{
            content: '';
            position: absolute;
            top: 20px;
            right: 40px;
            width: 30px;
            height: 30px;
            transform: rotate(90deg);
            background: url('../images/arrow→.svg') no-repeat;
        }
        &-dropdown-list{
            overflow: hidden;
            padding-left: 58px;
            max-height: 0;
            transition: .3s;
        }
        &-dropdown-list_active{
            max-height: 100%;
        }
        &-dropdown-list-item{
            position: relative;
        }
        &-dropdown-list-item::before{
            content: '';
            top: 11px;
            left: -55px;
            position: absolute;
            width: 27px;
            height: 7px;
            background-color: $primary-color-outline;
        }

        &-img{
            width: 584px;
            height: 421px;
        }
        &-img img{
            width: 100%;;
        }
    }

}
.support {
    margin-bottom: 160px;
    position: relative;
    &__title span{
        display: block;
    }
    &__title-span{
        padding-left: 200px;
    }
    &__content {
        display: flex;
        &-img{
            max-width: 706px;
            margin-right: 50px;
        }
        &-img img{
            width: 100%;
        }
        &-info{

        }
        &-list{
        }
        &-list-item{
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 30px;
        }
        &-list-item:last-child{
            margin-bottom: 0;
        }
    }
    &__bg{
        position: absolute;
        top: 370px;
        right: -634px;
        transform: rotate(230deg);
    }
}
.integration{
    position: relative;
    margin-bottom: 160px;
    &__title{

    }
    &__subtitle{
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 40px;
    }
    &__scheme{
        &-wrapper{
            display: flex;
            align-items: center;
            position: relative;
        }
        &-wrapper:nth-child(1){
            margin-bottom: 92px;
            .integration__scheme-item:nth-child(1){
                max-width: 236px;
                margin-right: 92px;
            }
            //arrow
            .integration__scheme-item:nth-child(1)::before{
                content: '';
                position: absolute;
                top: 34px;
                right: -63px;
                width: 30px;
                height: 30px;
                transform: rotate(0deg);
                background: url('../images/arrow→.svg') no-repeat;
            }
            .integration__scheme-item:nth-child(2){
                max-width: 1072px;
            }
            //arrow
            .integration__scheme-item:nth-child(2)::before{
                content: '';
                position: absolute;
                bottom: -71px;
                right: 336px;
                width: 30px;
                height: 30px;
                transform: rotate(90deg);
                background: url('../images/arrow→.svg') no-repeat;
            }
        }
        &-wrapper:nth-child(2){
            justify-content: end;
            margin-bottom: 92px;
            .integration__scheme-item{
                max-width: 715px;
            }
            .integration__scheme-item::before{
                content: '';
                position: absolute;
                bottom: -71px;
                right: 336px;
                width: 30px;
                height: 30px;
                transform: rotate(90deg);
                background: url('../images/arrow→.svg') no-repeat;
            }
        }
        &-item{
            display: flex;
            align-items: center;
            position: relative;
            text-align: center;
            padding: 16px 40px;
            border: 1px solid $primary-color-outline;
        }
        &-btn{
            margin: 0;
            padding: 16px 40px;
            background: linear-gradient(260.02deg, #E8C24F -22.37%, #DD475E 100%), radial-gradient(105.03% 92.27% at 97.99% 8.62%, #EB5323 0%, #811C5E 80.59%, #300947 100%);
            &-wrapper{
                width: 100%;
                display: flex;
                justify-content: end;
                padding-right: 308px;
            }
        }
    }
    &__bg{
        position: absolute;
        bottom: -555px;
        left: -318px;
        transform: rotate(300deg);
        z-index: -1;
    }
}


.footer{
    background-color: #fff;
    color: $primary-color;
    padding: 70px 0;
    &__title{
    }
    &__info{
        display: flex;
        justify-content: space-between;
        &-text{
            margin-bottom: 100px;
            font-size: 20px;
            line-height: 120%;
            max-width: 652px;
        }
        &-social{
            &-title{
                margin-bottom: 10px;
                font-size: 24px;
                line-height: 30px;
            }
            &-items{

            }
            &-img{
                padding-right: 24px;
            }
            &-img:last-child{
                padding-right: 0;
            }
        }
    }
    &__form{
        &-inner{
            display: flex;
            flex-direction: column;
        }
        &-name,
        &-phone,
        &-email{
            width: 466px;
            height: 58px;
            border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.1);
            display: flex;
        }
        input{
            width: 100%;
            font-size: 20px;
            line-height: 25px;
        }
        &-btn{
            color: $primary-color-text;
            width: 225px;
            height: 58px;
            font-size: 24px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(94.17deg, #E8C24F -53.08%, #DD475E 118.19%), radial-gradient(105.03% 92.27% at 97.99% 8.62%, #EB5323 0%, #811C5E 80.59%, #300947 100%);
            box-shadow: inset -3px -3px 17px rgba(0, 0, 0, 0.25), inset 8px 2px 11px rgba(255, 255, 255, 0.16), inset -14.5651px 0px 18.2064px rgba(245, 178, 60, 0.2), inset 3px -3px 17px rgba(193, 62, 54, 0.45);
            border-radius: 20px;
            transition: 3s;
            margin-top: 30px;
        }
        &-btn:hover{
            background: linear-gradient(94.17deg, #e4dbc1 -53.08%, #DD475E 118.19%), radial-gradient(100.03% 92.27% at 97.99% 8.62%, #bd3005 0%, #cc4ea0 80.59%, #300947 100%);
        }
    }
}

//laptops

@media (max-width: 1536px) {
    .difference__btn{
        right: 399px;
    }

}

@media (max-width: 1440px){
    .difference__btn {
        right: 334px;
    }
}

@media (max-width: 1280px) {
    .difference__btn {
        right: 319px;
    }
    .advantages__tree-branch:nth-child(2) {
        left: 223px;
    }
    .advantages__tree-branch:nth-child(3) {
        left: 531px;
    }
    .advantages__tree-branch:nth-child(4) {
        left: 720px;
    }
    .advantages__tree-branch:first-child {
        left: 48px;
    }
    .advantages__tree-branch-btn {
        left: 945px;
    }
    .advantages__info-text {
        max-width: 550px;
    }
    .advantages__info-text::before {
        top: 82px;
        left: 597px;
    }
    .advantages__info-coins {
        max-width: 560px;
    }
    .wallets__items {
        column-gap: 80px;
    }
    .wallets__info-text {
        max-width: 937px;
    }
    .assurance__content-info {
        max-width: 625px;
    }
}

//tablets

@media (max-width: 1024px) {
<<<<<<< HEAD
    .header__logo-text{
        display: none;
    }
=======
>>>>>>> f5297b8f0ebb0c7ee4b5c2dd8c3bc68339cfa304
    .difference__point{
        display: none;
    }
    .difference__wrapper-names {
        justify-content: space-around;
    }
    .difference__name {
        padding-right: 0;
    }
    .difference__name:last-child {
        padding-right: 0;
    }
    .difference__card {
        width: 100%;
        padding: 0 25px;
    }
    .advantages__tree-img img {
        width: 80%;
    }
    .advantages__tree-branch:nth-child(2) {
        left: 126px;
    }
    .advantages__tree-branch:nth-child(3) {
        left: 407px;
        top: -15px;
    }
    .advantages__tree-branch:nth-child(4) {
        left: 596px;
        top: 123px;
    }
    .advantages__tree-branch:first-child {
        left: 5px;
        top: 213px;
    }
    .advantages__tree-branch-btn {
        top: 262px;
        left: 750px !important;
    }
    .advantages__info-text {
        max-width: 423px;
    }
    .advantages__info-text::before {
        top: 119px;
        left: 471px;
    }
    .advantages__info-coins {
        max-width: 414px;
    }
    .hedging__tree-img{
        margin-right: 108px;
    }
    .hedging__tree-img img{
        width: 450px;
        height: 426px;
    }
    .hedging__tree-info-inner{
        justify-content: end;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .hedging__tree-info {
        max-width: 303px;
        display: flex;
        flex-direction: column;
    }
    .hedging__tree-info-title {
        justify-content: center;
        margin-bottom: 50px;
        padding-right: 0;
    }
    .hedging__tree-info-title::before {
        transform: rotate(90deg);
        top: 74px;
        left: 134px;
    }
    .hedging__tree-info-coin {
        padding: 16px 30px 18px 100px;
        width: 100%;
    }
    .hedging__tree-info-coin::before {
        left: 62px;
    }
    .hedging__tree-branch:first-child {
        top: 32px;
    }
    .hedging__tree-branch:nth-child(2) {
        top: 91px;
        left: 50px;
    }
    .hedging__tree-branch:nth-child(3) {
        top: 161px;
        left: -105px;
    }
    .hedging__tree-branch:nth-child(4) {
        top: 244px;
        left: -161px;
    }
    .hedging__tree-branch:nth-child(5) {
        top: 317px;
        left: 68px;
    }
    .hedging__text {
        max-width: 400px;
        text-align: right;
    }
    .hedging__item-title::before {
        top: 102px;
    }
    .wallets__items {
        column-gap: 28px;
    }
    .wallets__info-text {
        max-width: 690px;
    }
    .wallets__info-text::before {
        top: 64px;
    }
    .assurance__content-info {
        max-width: 480px;
    }
}